@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-advantages {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.advantages {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.title-bladvs {
			width: 800px;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.title-bladvs h1 {
				font-size: 24px;
				color: #333;
				line-height: 1;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
			}
		.description-bladvs {
			width: 800px;
			height: auto;
			margin: 0 auto 50px auto;
		}
			.description-bladvs p {
				font-size: 14px;
				color: #333;
				line-height: 1.8;
				text-align: center;
			}
		.listAdvantages-bladvs {
			width: 1000px;
			height: auto;
			margin: 0 auto;
		}
			.listAdvantages-bladvs ul {
				list-style-type: none;
				list-style-position: inside;
			}
				.listAdvantages-bladvs ul li {
					width: 100%;
					height: auto;
					display: flex;
						justify-content: space-between;
					margin: 0 0 50px 0;
				}
						.listAdvantages-bladvs ul li:last-child {
							margin: 0 0 0 0;
						}
					.img-bladvs {
						width: 300px;
						height: auto;
					}
						.img-bladvs img {
							display: block;
							vertical-align: bottom;
							max-width: 100%;
						}
					.text-bladvs {
						width: 650px;
						height: auto;
					}
						.text-bladvs h2 {
							font-size: 18px;
							color: #333;
							line-height: 1;
							font-weight: 600;
							margin: 0 0 20px 0;
						}
						.text-bladvs p {
							font-size: 14px;
							line-height: 1.8;
							color: #666;
							margin: 0 0 20px 0;
						}
						.text-bladvs a.learnMore-bladvs {
							display: inline-block;
							font-size: 14px;
							color: #fff;
							line-height: 1;
							font-weight: 600;
							text-decoration: none;
							padding: 15px 25px;
							border-radius: 25px;
							background-color: #199c68;
							cursor: pointer;
						}
							.text-bladvs a.learnMore-bladvs:hover {
								background-color: #168458;
							}