@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-form {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.form {
		width: 1000px;
		height: auto;
		margin: 0 auto;
		padding: 80px 0;
	}
		.form form.blfms {
			display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			width: 100%;
			height: auto;
		}
			.form form.blfms .column1-blfms {
				width: 475px;
				height: auto;
			}
				.form form.blfms .column1-blfms input[type="text"] {
					width: 475px;
					height: 40px;
					border-bottom: 1px solid #efefef;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					background-color: transparent;
					font-size: 14px;
					color: #333;
					line-height: 1;
					outline: 0;
					margin: 0 0 40px 0;
					box-sizing: border-box;
				}
				.form form.blfms .column2-blfms {
					width: 1000px;
					height: auto;
				}
					.form form.blfms .column2-blfms input[type="submit"] {
						display: block;
						width: 150px;
						height: 40px;
						border: 0;
						font-size: 14px;
						color: #fff;
						line-height: 1;
						font-weight: 600;
						background-color: #1f5bff;
						outline: 0;
						cursor: pointer;
					}
						.form form.blfms .column2-blfms input[type="submit"]:hover {
							background-color: #1f53e2;
						}