@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-reviews {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.reviews {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.title-blrws {
			width: 100%;
			height: auto;
			margin: 0 auto 70px auto;
		}
			.title-blrws h3 {
				font-size: 36px;
				line-height: 1;
				font-weight: 600;
				color: #333;
				text-align: center;
			}
		.grid-blrws {
			width: 1200px;
			height: auto;
		}
			.grid-blrws ul {
				display: flex;
					justify-content: center;
				width: 100%;
				height: auto;
				list-style-type: none;
				list-style-position: inside;
			}
				.grid-blrws ul li {
					width: 320px;
					height: auto;
					margin: 0 50px 0 0;
				}
						.grid-blrws ul li:last-child {
							margin: 0 0 0 0;
						}
					.grid-blrws ul li .images-blrws {
						width: 100%;
						height: auto;
						margin: 0 0 30px 0;
					}
						.grid-blrws ul li .images-blrws img {
							display: block;
							vertical-align: bottom;
							max-width: 100%;
							margin: 0 auto;
							border-radius: 50%;
						}
					.grid-blrws ul li .info-blrws {
						width: 100%;
						height: auto;
					}
						.grid-blrws ul li .info-blrws h5 {
							font-size: 14px;
							font-weight: 600;
							color: #333;
							line-height: 1;
							margin: 0 0 10px 0;
							text-align: center;
						}
						.grid-blrws ul li .info-blrws p.position-blrws {
							font-size: 13px;
							color: #666;
							line-height: 1;
							margin: 0 0 15px 0;
							text-align: center;
						}
						.grid-blrws ul li .info-blrws p.reviews-blrws {
							font-size: 14px;
							line-height: 1.8;
							color: #333;
							text-align: center;
						}