@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

.footer {
	width: 100%;
	height: auto;
	display: flex;
		justify-content: space-between;
		align-items: center;
	background-color: #24292E;
	padding: 30px 30px;
	box-sizing: border-box;
}
	.title-company-blfs {
		width: 33%;
		height: auto;
	}
		.title-company-blfs h1 {
			font-size: 18px;
			font-weight: 600;
			color: #fff;
			line-height: 1;
		}
	.link-blfs {
		width: 33%;
		height: auto;
	}
		.link-blfs ul {
			display: flex;
				justify-content: center;
			width: 100%;
			height: auto;
			list-style-type: none;
			list-style-position: inside;
		}
			.link-blfs ul li {
				width: 10%;
				height: auto;
				margin: 0 20px;
				font-size: 14px;
				font-weight: 600;
				line-height: 1;
				text-align: center;
			}
				.link-blfs ul li a {
					color: #fff;
					text-decoration: none;
				}
					.link-blfs ul li a:hover {
						text-decoration: underline;
					}
	.back-to-top-blfs {
		width: 33%;
		height: auto;
	}
		.back-to-top-blfs p {
			font-size: 14px;
			color: #fff;
			line-height: 1;
			text-align: right;
		}
			.back-to-top-blfs p a {
				text-decoration: none;
				color: #fff;
			}
				.back-to-top-blfs p a:hover {
					text-decoration: underline;
				}