@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-advantages {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.advantages {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.title-bladvs {
			width: 800px;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.title-bladvs h1 {
				font-size: 24px;
				color: #333;
				line-height: 1;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
			}
		.description-bladvs {
			width: 800px;
			height: auto;
			margin: 0 auto 50px auto;
		}
			.description-bladvs p {
				font-size: 14px;
				color: #333;
				line-height: 1.8;
				text-align: center;
			}
		.listAdvantages-bladvs {
			width: 1200px;
			height: auto;
		}
			.listAdvantages-bladvs ul {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: center;
				list-style-type: none;
				list-style-position: inside;
			}
				.listAdvantages-bladvs ul li {
					width: 300px;
					height: auto;
					padding: 0 30px;
					box-sizing: border-box;
				}
					.listAdvantages-bladvs ul li p.countAdvantages-bladvs {
						font-size: 18px;
						font-weight: bold;
						line-height: 1;
						color: #199c68;
						text-align: center;
						margin: 0 0 20px 0;
					}
					.listAdvantages-bladvs ul li h2 {
							font-size: 24px;
							color: #333;
							line-height: 1;
							font-weight:bold;
						}
					.listAdvantages-bladvs ul li span.lineDevide-bladvs {
						display: block;
						width: 100%;
						height: 1px;
						background-color: #efefef;
						margin: 20px 0;
					}
					.listAdvantages-bladvs ul li p {
						font-size: 14px;
						line-height: 1.8;
						color: #666;
					}