@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-about {
	width: 100%;
	height: auto;
	background-color: #efefef;
}
	.about {
		width: 500px;
		height: auto;
		margin: 0 auto;
		padding: 80px 0;
	}
		.about img {
			display: block;
			vertical-align: bottom;
			margin: 0 auto 40px auto;
			border-radius: 50%;
			max-width: 100%;
		}
		.about h5 {
			font-size: 22px;
			font-weight: bold;
			line-height: 1;
			color: #333;
			text-align: center;
			margin: 0 0 40px 0;
		}
		.about p {
			font-size: 16px;
			line-height: 1.8;
			color: #333;
			text-align: center;
		}