@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-footer {
	width: 100%;
	height: auto;
	background-color: #24292E;
}
	.footer {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
		display: flex;
			justify-content: space-between;
	}
		.logo-blfs {
			width: 40%;
			height: auto;
		}
			.logo-blfs img {
				display: inline-block;
				vertical-align: bottom;
				margin: 0 0 20px 0;
			}
			.logo-blfs p {
				font-size: 14px;
				line-height: 1;
				color: #525252;
			}
		.wrapper-box-links-blfs {
			width: 30%;
			height: auto;
			display: flex;
				justify-content: space-between;
		}
			.wrapper-box-links-blfs .box-links-blfs {
				width: 50%;
				height: auto;
			}
				.wrapper-box-links-blfs .box-links-blfs h6 {
					font-size: 16px;
					font-weight: bold;
					color: #525252;
					line-height: 1;
					margin: 0 0 20px 0;
					text-transform: uppercase;
				}
				.wrapper-box-links-blfs .box-links-blfs ul {
					list-style-type: none;
					list-style-position: inside;
					width: 100%;
					height: auto;
				}
					.wrapper-box-links-blfs .box-links-blfs ul li {
						display: block;
						font-size: 14px;
						line-height: 1;
						color: #fff;
						margin: 0 0 20px 0;
					}
							.wrapper-box-links-blfs .box-links-blfs ul li:last-child {
								margin: 0 0 0 0;
							}
						.wrapper-box-links-blfs .box-links-blfs ul li a {
							display: inline-block;
							color: #fff;
							text-decoration: none;
						}
							.wrapper-box-links-blfs .box-links-blfs ul li a:hover {
								text-decoration: underline;
							}