@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-about {
	width: 100%;
	height: auto;
	background-color: #efefef;
	padding: 100px 0;
}
	.text-blabs {
		width: 700px;
		height: auto;
		margin: 0 auto;
		padding: 50px 50px;
		border: 1px solid #333;
		box-sizing: border-box;
	}
		.text-blabs h3 {
			font-size: 30px;
			font-weight: 600;
			line-height: 1;
			color: #000;
			text-align: center;
		}
		.text-blabs hr {
			display: block;
			border: 0;
			width: 80px;
			height: 2px;
			background-color: #1f5bff;
			margin: 30px auto;
		}
		.text-blabs p {
			font-size: 16px;
			line-height: 2;
			color: #333;
			text-align: center;
		}