@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-tariffs {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.tariffs {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.title-bltfs {
			width: 100%;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.title-bltfs h3 {
				font-size: 36px;
				line-height: 1;
				font-weight: 600;
				color: #333;
				text-align: center;
			}
		.description-bltfs {
			width: 50%;
			height: auto;
			margin: 0 auto 50px auto;
		}
			.description-bltfs p {
				font-size: 16px;
				color: #333;
				line-height: 1.8;
				text-align: center;
			}
		.grid-bltfs {
			width: 100%;
			height: auto;
		}
			.grid-bltfs ul {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: center;
				list-style-position: inside;
				list-style-type: none;
			}
				.grid-bltfs ul li {
					width: 340px;
					height: auto;
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid #efefef;
					margin: 0 30px 0 0;
					padding: 40px 15px;
					box-sizing: border-box;
				}
						.grid-bltfs ul li:last-child {
							margin: 0 0 0 0;
						}
						.grid-bltfs ul li.plan2 {
							box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
						}
					.grid-bltfs ul li img {
						display: block;
						vertical-align: bottom;
						margin: 0 auto 30px auto;
					}
					.grid-bltfs ul li h4 {
						font-size: 20px;
						font-weight: bold;
						color: #333;
						line-height: 1;
						text-align: center;
						margin: 0 0 30px 0;
					}
					.grid-bltfs ul li .description-plan-bltfs {
						width: 100%;
						height: auto;
						margin: 0 0 30px 0;
					}
						.grid-bltfs ul li .description-plan-bltfs p {
							font-size: 14px;
							color: #333;
							line-height: 1;
							margin: 0 0 15px 0;
							text-align: center;
						}
							.grid-bltfs ul li .description-plan-bltfs p:last-child {
								margin: 0 0 0 0;
							}
					.grid-bltfs ul li p.price-bltfs {
						font-size: 16px;
						color: #333;
						line-height: 1;
						text-align: center;
						font-weight: 600;
						margin: 0 0 30px 0;
					}
					.grid-bltfs ul li .more-bltfs {
						width: 100%;
						height: auto;
						text-align: center;
					}
						.grid-bltfs ul li .more-bltfs a {
							display: inline-block;
							font-size: 14px;
							color: #fff;
							line-height: 1;
							border-radius: 20px;
							padding: 12px 25px;
							background-color: #13CE66;
							text-decoration: none;
							cursor: pointer;
						}
							.grid-bltfs ul li .more-bltfs a:hover {
								background-color: #13b55b;
							}