@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-reviews {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.reviews {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.reviews .title {
			width: 100%;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.reviews .title h3 {
				font-size: 36px;
				line-height: 1;
				font-weight: 600;
				color: #333;
				text-align: center;
			}