@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-shop {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.shop {
		width: 1200px;
		height: auto;
			display: flex;
			justify-content: space-between;
		margin: 0 auto;
		padding: 80px 0;
	}
		.img-blshs {
			width: 650px;
			height: auto;
		}
		.content-blshs {
			width: 500px;
			height: auto;
		}
			.content-blshs h2 {
				font-size: 20px;
				font-weight: bold;
				color: #333;
				line-height: 1;
				margin: 0 0 15px 0;
			}
			.content-blshs p.codeProduct-blshs {
				font-size: 14px;
				color: #666;
				line-height: 1;
				margin: 0 0 30px 0;
			}
			.content-blshs p.priceProduct-blshs {
				font-size: 18px;
				font-weight: 600;
				color: #333;
				line-height: 1;
				margin: 0 0 30px 0;				
			}
			.content-blshs a.buyNow-blshs {
				display: inline-block;
				padding: 15px 30px;
				border-radius: 25px;
				background-color: #ff4a4a;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				line-height: 1;
				text-decoration: none;
				margin: 0 0 30px 0;
				cursor: pointer;
			}
				.content-blshs a.buyNow-blshs:hover {
					background-color: #dc4040;
				}
			.content-blshs p.descriptionProduct-blshs {
				font-size: 14px;
				color: #333;
				line-height: 1.8;			
			}