@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-team {
	width: 100%;
	height: auto;
	background-color: #fff;
}
		.worker-bltms {
				width: 960px;
				height: auto;
				display: flex;
					justify-content: space-between;
					align-items: center;
				margin: 0 auto;
				padding: 50px 0;
			}
				.worker-bltms .photo-bltms {
					width: 320px;
					height: 320px;
				}
					.worker-bltms .photo-bltms img {
						display: block;
						vertical-align: bottom;
					}
				.worker-bltms .info-bltms {
					width: 610px;
					height: auto;						
				}
					.worker-bltms .info-bltms h4 {
						font-size: 18px;
						font-weight: bold;
						line-height: 1;
						color: #333;
						margin: 0 0 10px 0;
					}
					.worker-bltms .info-bltms p.position-bltms {
						font-size: 14px;
						line-height: 1;
						color: #666;
						margin: 0 0 20px 0;
					}
					.worker-bltms .info-bltms .line-bltms {
						display: block;
						width: 50px;
						height: 2px;
						background-color: #1f5bff;
						margin: 20px 0;
					}
					.worker-bltms .info-bltms p.speech-bltms {
						font-size: 14px;
						line-height: 1.8;
						color: #333;
					}