@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-tariffs {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.tariffs {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.tariffs .title {
			width: 100%;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.tariffs .title h3 {
				font-size: 36px;
				line-height: 1;
				font-weight: 600;
				color: #333;
				text-align: center;
			}
		.tariffs .description {
			width: 50%;
			height: auto;
			margin: 0 auto 50px auto;
		}
			.tariffs .description p {
				font-size: 16px;
				color: #333;
				line-height: 1.8;
				text-align: center;
			}
		.tariffs .list {
			width: 80%;
			height: auto;
			display: flex;
				justify-content: space-between;
			margin: 0 auto;
		}
			.tariffs .list .column-tariff {
				width: 45%;
				height: auto;
			}
				.tariffs .list .column-tariff .box-tariff {
					display: flex;
						justify-content: space-between;
						align-items: center;
					width: 100%;
					height: auto;
					border-bottom: 1px solid #efefef;
					margin: 0 0 30px 0;
					padding: 0 0 30px 0;
				}
						.tariffs .list .column-tariff .box-tariff:last-child {
							margin: 0 0 0 0;
						}
					.tariffs .list .column-tariff .box-tariff h4 {
						font-size: 20px;
						color: #333;
						line-height: 1;
						font-weight: bold;
					}
					.tariffs .list .column-tariff .box-tariff p {
						font-size: 16px;
						color: #333;
						line-height: 1;
						font-weight: 600;
					}
					.tariffs .list .column-tariff .more {
						width: 100%;
						height: auto;
						text-align: center;
					}
						.tariffs .list .column-tariff .more a {
							display: inline-block;
							font-size: 14px;
							line-height: 1;
							color: #fff;
							padding: 15px 35px;
							border-radius: 25px;
							text-decoration: none;
							background-color: #1f5bff;
							box-sizing: border-box;
						}
							.tariffs .list .column-tariff .more a:hover {
								background-color: #1c4fdc;
							}