@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	letter-spacing: 0.2px;
}

#wrapper-tariffs {
	width: 100%;
	height: auto;
	background-color: #fff;
}
	.tariffs {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		padding: 50px 0;
	}
		.tariffs .title-bltfs {
			width: 100%;
			height: auto;
			margin: 0 auto 30px auto;
		}
			.tariffs .title-bltfs h3 {
				font-size: 36px;
				line-height: 1;
				font-weight: 600;
				color: #333;
				text-align: center;
			}
		.tariffs .description-bltfs {
			width: 50%;
			height: auto;
			margin: 0 auto 50px auto;
		}
			.tariffs .description-bltfs p {
				font-size: 16px;
				color: #333;
				line-height: 1.8;
				text-align: center;
			}
		.grid-bltfs {
			width: 100%;
			height: auto;
		}
			.grid-bltfs ul {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: center;
				list-style-position: inside;
				list-style-type: none;
			}
				.grid-bltfs ul li {
					width: 340px;
					height: auto;
					background-color: #fff;
					box-sizing: border-box;
					margin: 0 30px 0 0;
				}
						.grid-bltfs ul li:last-child {
							margin: 0 0 0 0;
						}
					.grid-bltfs ul li .images-bltfs {
						width: 100%;
						height: auto;
						margin: 0 0 30px 0;
					}
						.grid-bltfs ul li .images-bltfs img {
							display: block;
							vertical-align: bottom;
						}
					.grid-bltfs ul li .info-bltfs {
						width: 100%;
						height: auto;
						margin: 0 0 30px 0;
					}
						.grid-bltfs ul li .info-bltfs h4 {
							font-size: 18px;
							font-weight: 600;
							line-height: 1;
							color: #333;
							margin: 0 0 20px 0;
						}
						.grid-bltfs ul li .info-bltfs p.price-bltfs {
							font-size: 14px;
							font-weight: 600;
							color: #333;
							line-height: 1;
							margin: 0 0 20px 0;
						}
						.grid-bltfs ul li .info-bltfs p.description-plan-bltfs {
							font-size: 14px;
							color: #333;
							line-height: 1.8;
						}
					.grid-bltfs ul li .more-bltfs {
						width: 100%;
						height: auto;
					}
						.grid-bltfs ul li .more-bltfs a {
							display: inline-block;
							font-size: 14px;
							color: #000;
							font-weight: 600;
							line-height: 1;
							text-align: center;
							text-decoration: none;
							padding: 10px 15px;
							box-sizing: border-box;
							border: 1px solid #333;
						}
							.grid-bltfs ul li .more-bltfs a:hover {
								background-color: #222;
								color: #fff;
							}